Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Add broker lag monitoring
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Use same producer and different E2E latencies
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log average and max size
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Auto commit on batch end
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Job deployment to run the producer performance test on
  examples/performance/performance-primitives.js
  examples/performance/scale/Chart.yaml
  examples/performance/scale/README.md
  examples/performance/scale/example-values.yaml
  examples/performance/scale/scale.py
  examples/performance/scale/templates/_helpers.tpl
  examples/performance/scale/templates/configmap.yaml
  examples/performance/scale/templates/create-topics-job.yaml
  examples/performance/scale/templates/producer-job.yaml
  examples/performance/scale/templates/secret.yaml
  examples/performance/scale/values.yaml
Due: none

Test
  examples/performance/performance-primitives.js
Due: none

Statistics interval configuration
  examples/performance/scale/example-values.yaml
  examples/performance/scale/templates/configmap.yaml
  examples/performance/scale/values.yaml
Due: none

Copy log files from the pods to the caller
  examples/performance/scale/scale.py
  examples/performance/scale/templates/producer-job.yaml
  examples/performance/scale/values.yaml
Due: none

Use prebuilt Docker image for perf scale jobs
  examples/performance/scale/Dockerfile
  examples/performance/scale/templates/create-topics-job.yaml
  examples/performance/scale/templates/producer-job.yaml
  examples/performance/scale/values.yaml
Due: none

Configurable image file + 20 max inflight
  examples/performance/performance-primitives.js
  examples/performance/scale/example-values.yaml
  examples/performance/scale/scale.py
  examples/performance/scale/values.yaml
Due: none

Copy the output before the log files max in flight 10
  examples/performance/performance-primitives.js
  examples/performance/scale/scale.py
Due: none

Add producer latency/throughput metrics, configurable producer props, scale fixes
  examples/performance/package.json
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
  examples/performance/scale/.helmignore
  examples/performance/scale/build-image.sh
  examples/performance/scale/scale.py
  examples/performance/scale/templates/_helpers.tpl
  examples/performance/scale/templates/create-topics-job.yaml
  examples/performance/scale/templates/producer-config.yaml
  examples/performance/scale/templates/producer-job.yaml
  examples/performance/scale/values.yaml
Due: none

Configurable limitRPS
  examples/performance/scale/example-values.yaml
  examples/performance/scale/templates/configmap.yaml
  examples/performance/scale/values.yaml
Due: none

Add decimal.sqrt
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Remove fixed max.in.flight
  examples/performance/performance-primitives.js
Due: none

Write periodic producer latency samples to jsmetrics.jsonl and collect them
  examples/performance/performance-primitives-common.js
  examples/performance/scale/.gitignore
  examples/performance/scale/scale.py
Due: none

Add p90 to producer latency metrics and a plot_metrics.py report generator
  examples/performance/performance-primitives-common.js
  examples/performance/scale/plot_metrics.py
Due: none

Ignore message count if LIMIT_RPS and TERMINATE_TIMEOUT_MS are set
  examples/performance/performance-consolidated.js
Due: none

v1.9.1
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Plot brokers RTT
  examples/performance/scale/plot_metrics.py
Due: none

Pipeline producer sends continuously instead of draining each window
  examples/performance/performance-primitives-common.js
  examples/performance/scale/.gitignore
Due: none

v1.9.1 (#494)
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Ignore .md files
  examples/performance/scale/.helmignore
Due: none

Add decimal to double CEL function
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Add decimal mod CEL function
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Add decimal min/max CEL functions
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor renaming
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Split producer/consumer config and add consumer Job to scale chart
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
  examples/performance/scale/README.md
  examples/performance/scale/example-values.yaml
  examples/performance/scale/plot_metrics.py
  examples/performance/scale/scale.py
  examples/performance/scale/templates/_helpers.tpl
  examples/performance/scale/templates/configmap.yaml
  examples/performance/scale/templates/consumer-job.yaml
  examples/performance/scale/templates/create-topics-job.yaml
  examples/performance/scale/templates/producer-config.yaml
  examples/performance/scale/values.yaml
Due: none

Add combined per-folder plot report and configurable jsmetrics interval
  examples/performance/performance-primitives-common.js
  examples/performance/scale/example-values.yaml
  examples/performance/scale/plot_metrics.py
  examples/performance/scale/templates/configmap.yaml
  examples/performance/scale/values.yaml
Due: none

scale.py: periodic atomic log collection with auth priming
  examples/performance/performance-primitives-common.js
  examples/performance/scale/scale.py
Due: none

Add per-interval windowed latency stats to jsmetrics output
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: none

Resume parameter
  examples/performance/scale/scale.py
Due: none

Stream pod console logs to disk and tail them for the summary
  examples/performance/scale/scale.py
Due: none

Handle non-http errors during retries
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Update CHANGELOG
  CHANGELOG.md
Due: none

Minor fix
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  CHANGELOG.md
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

[Typescript] Handle non-HTTP errors during retries (#499)
  CHANGELOG.md
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Reapply "Revert union of Pools PR (#459)"
  schemaregistry-examples/src/constants.ts
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

copilot fixes
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/rest-service.ts
Due: (SR) Linux amd64: test, e2e
