Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Fix decimal funcs
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Simplify ts ctor
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix variant issues
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/index.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/serde/avro.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/test/rules/cel/cel-avro-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-proto-key-and-uint.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Move proto types
  proto/confluent/type/decimal.proto
  proto/confluent/type/variant.proto
  proto/test/schemaregistry/serde/value_type_rules.proto
  proto/test/schemaregistry/serde/value_types.proto
  schemaregistry/confluent/type/decimal-utils.ts
  schemaregistry/confluent/type/decimal_pb.ts
  schemaregistry/confluent/type/variant-utils.ts
  schemaregistry/confluent/type/variant_pb.ts
  schemaregistry/index.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/rules/cel/variant-path.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/confluent/type/decimal-utils.spec.ts
  schemaregistry/test/confluent/type/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-avro-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-proto-key-and-uint.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/cel-avro-union-and-map-keys.spec.ts
  schemaregistry/test/serde/cel-avro-variant-field.spec.ts
  schemaregistry/test/serde/cel-container-message-transform.spec.ts
  schemaregistry/test/serde/cel-field-value-types.spec.ts
  schemaregistry/test/serde/cel-inline-avro-value-types.spec.ts
  schemaregistry/test/serde/protobuf-builtin-deps.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/test/value_type_rules_pb.ts
  schemaregistry/test/serde/test/value_types_pb.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/test/serde/cel-field-message-binding.spec.ts
Due: (SR) Linux amd64: test, e2e

Update CHANGELOG
  CHANGELOG.md
Due: none

Minor fixes
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/test/rules/cel/cel-proto-result-keys.spec.ts
Due: (SR) Linux amd64: test, e2e

Add import public to new confluent/type/Decimal
  schemaregistry/confluent/codegen.sh
  schemaregistry/confluent/types/decimal_pb.ts
  schemaregistry/test/confluent/types/legacy-decimal-path.spec.ts
Due: (SR) Linux amd64: test, e2e

Add import public to new confluent/type/Decimal
  proto/confluent/types/decimal.proto
  schemaregistry/confluent/codegen.sh
  schemaregistry/confluent/types/decimal_pb.ts
  schemaregistry/index.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/confluent/types/legacy-decimal-path.spec.ts
  schemaregistry/test/serde/protobuf-builtin-deps.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/test/serde/cel-container-message-transform.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/cel-nested-record-binding.spec.ts
Due: (SR) Linux amd64: test, e2e

Pass schema via field context if necessary
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/cel-null-avro-field.spec.ts
Due: (SR) Linux amd64: test, e2e

Trigger release time SBOM and SAST scan using Mend
  .semaphore/semaphore.yml
  CONTRIBUTING.md
Due: none

Fix repo name passed to mend-source-scan trigger
  .semaphore/semaphore.yml
Due: none

Restrict the Node download to HTTPS in the s390x build
  .semaphore/build-docker-s390x.sh
Due: none

Document s390x support in README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

Run the CI tests on s390x
  .semaphore/semaphore.yml
  .semaphore/test-s390x.sh
Due: none

DOCS-43304 admin API for Odyssey explicit topic association
  types/rdkafka.d.ts
Due: none

Add s390x (IBM Z) release and post-install support (#527)
  .semaphore/build-docker-alpine.sh
  .semaphore/build-docker-s390x.sh
  .semaphore/post_install.yml
  .semaphore/semaphore.yml
  CHANGELOG.md
  README.md
Due: none

Run the CI tests on s390x (#547)
  .semaphore/semaphore.yml
  .semaphore/test-s390x.sh
Due: none

fix: skip opaque Persistent when no delivery callback
  CHANGELOG.md
  src/producer.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Share a single cluster id call among concurrent resolver invocations
  CHANGELOG.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/serde.ts
  test/promisified/consumer/deserializers.spec.js
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/cluster_id_resolver.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Hand every serde builder the full client configuration
  CHANGELOG.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/kafka-builders.spec.ts
  test/promisified/consumer/deserializers.spec.js
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/serde_builders.spec.js
  test/promisified/unit/serde_ownership.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Address review comments on serde integration
  .semaphore/semaphore.yml
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/serde.ts
  test/docker/docker-compose-kraft.yml
  test/promisified/unit/serde_ownership.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Address more review comments on serde integration
  README.md
  lib/kafkajs/_admin.js
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/e2e/associated-cluster-id.spec.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/kafka-builder.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/kafka-builders.spec.ts
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/logger.spec.js
  test/promisified/unit/serde_builders.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

PR number
  CHANGELOG.md
Due: none

Mark the serde integration and clusterId() as experimental
  CHANGELOG.md
  README.md
  lib/client.js
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_error.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/kafka-builder.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  types/kafkajs.d.ts
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Use the serde builders in the KafkaJS Avro Schema Registry example
  examples/kafkajs/sr.js
Due: none

Retry connect() on transient SSL handshake failures
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Document concurrent connect() dedup in changelog
  CHANGELOG.md
Due: none

Preserve base client listeners on teardown; add connect lifecycle tests
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
  test/promisified/unit/connectRetryLifecycle.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Bound connect attempts and delegate backoff to librdkafka
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() for transactional and idempotent producers
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() on transient connection errors
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance
