Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Log number of partitions
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Configurable partitions consumed concurrently
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Run performance tests with SASL_PLAINTEXT or SASL_SSL and plain authentication
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Add configurable maxBatchSize to consumer.run()
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update test/promisified/consumer/consumeMessages.spec.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Update lib/kafkajs/_consumer.js
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add configurable maxBatchSize to consumer.run()
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add broker lag monitoring
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Changes to run the test for a longer time
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Batch max size is whatever available in the queue for that partition
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Configurable max batch size
  CHANGELOG.md
  MIGRATION.md
  examples/performance/performance-primitives.js
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Configurable batch size
  CHANGELOG.md
  MIGRATION.md
  examples/performance/performance-primitives.js
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
Due: Linux amd64: Performance

Use same producer and different E2E latencies
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Auto commit on batch end
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Keep 1.5s of data in cache
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Remove minimum 1024 cache size for faster rebalances in case of long processing time
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix CI performance run
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Fix CI performance run
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
Due: Linux amd64: Performance

Fix CI performance run
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Test higher message size
  examples/performance/performance-consolidated.js
Due: none

Test higher message size
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Remove E2E latency metrics for serial run
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Two partitions consumed concurrently
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Fix for test flakyness
  test/promisified/admin/fetch_offsets.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
