Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Aws optional integration for JS
  DESIGN_AWS_OAUTHBEARER.md
  IMPLEMENTATION_PLAN_AWS_OAUTHBEARER.md
  examples/kafkajs/oauthbearer_aws_iam/oauthbearer_aws_iam.js
  examples/kafkajs/oauthbearer_aws_iam/package.json
  examples/node-rdkafka/oauthbearer_aws_iam/oauthbearer_aws_iam.js
  examples/node-rdkafka/oauthbearer_aws_iam/package.json
  oauthbearer-aws/LICENSE.txt
  oauthbearer-aws/Makefile
  oauthbearer-aws/README.md
  oauthbearer-aws/TESTING.md
  oauthbearer-aws/e2e/jest.config.js
  oauthbearer-aws/e2e/provider-real.e2e.ts
  oauthbearer-aws/index.ts
  oauthbearer-aws/jest.config.js
  oauthbearer-aws/jwt.ts
  oauthbearer-aws/package.json
  oauthbearer-aws/provider.ts
  oauthbearer-aws/test/config.test.ts
  oauthbearer-aws/test/factories.test.ts
  oauthbearer-aws/test/jwt.test.ts
  oauthbearer-aws/test/provider.test.ts
  oauthbearer-aws/tsconfig-build.json
  oauthbearer-aws/tsconfig.json
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix node_options
  oauthbearer-aws/Makefile
  oauthbearer-aws/TESTING.md
Due: none

Working optional dependency for JS
  IMPLEMENTATION_PLAN_AWS_OAUTHBEARER.md
Due: none

DGS-24052 Handle anyOf/allOf in JSON transforms
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

Update changelog
  CHANGELOG.md
Due: none

DGS-24052 Handle anyOf/allOf in JSON transforms (#479)
  CHANGELOG.md
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

[fix] handle missing Protobuf message index bytes in ProtobufDeserializer
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/serde.spec.ts
Due: (SR) Linux amd64: test, e2e

copilot comments
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Scaffolding changes
  oauthbearer-aws/LICENSE.txt
  oauthbearer-aws/Makefile
  oauthbearer-aws/README.md
  oauthbearer-aws/auto-wire.ts
  oauthbearer-aws/config-string-parser.ts
  oauthbearer-aws/index.ts
  oauthbearer-aws/jest.config.js
  oauthbearer-aws/jwt.ts
  oauthbearer-aws/package.json
  oauthbearer-aws/provider.ts
  oauthbearer-aws/test/placeholder.test.ts
  oauthbearer-aws/tsconfig-build.json
  oauthbearer-aws/tsconfig.json
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Implement jwt and config parsers
  oauthbearer-aws/config-string-parser.ts
  oauthbearer-aws/jwt.ts
  oauthbearer-aws/provider.ts
  oauthbearer-aws/test/config-string-parser.test.ts
  oauthbearer-aws/test/jwt.test.ts
  oauthbearer-aws/test/placeholder.test.ts
Due: none

Integrate aws-sts-client in provider
  oauthbearer-aws/provider.ts
  oauthbearer-aws/test/config.test.ts
  oauthbearer-aws/test/provider.test.ts
Due: none

Implement createHandler
  .npmignore
  oauthbearer-aws/auto-wire.ts
  oauthbearer-aws/index.ts
  oauthbearer-aws/test/auto-wire.test.ts
  oauthbearer-aws/test/contract.test.ts
Due: none

dynamic dispatcher implementation
  lib/auto-wire-aws.js
  lib/client.js
  test/auto-wire-aws.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

tests scaffolding
  oauthbearer-aws/Makefile
  oauthbearer-aws/TESTING.md
  oauthbearer-aws/e2e/auto-wire-real.e2e.ts
  oauthbearer-aws/e2e/jest.config.js
Due: none

remove silent fallback for descriptive error
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/serde.spec.ts
Due: (SR) Linux amd64: test, e2e

[fix] handle missing Protobuf message index bytes in ProtobufDeserializer (#481)
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/serde.spec.ts
Due: (SR) Linux amd64: test, e2e

DGS-24227 Preserve custom subjectNameStrategy in serde constructors
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

DGS-24227 Preserve custom subjectNameStrategy in serde constructors (#482)
  CHANGELOG.md
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

[fix] pass string as first arg to user logger on error events
  lib/kafkajs/_admin.js
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fix(package.json): correct broken "types" path
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

fix(types): expose cooperative-sticky rebalance methods on KafkaConsumer
  types/rdkafka.d.ts
Due: none

First cut at cel functions
  package-lock.json
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Modify decimals.prec
  schemaregistry/rules/cel/decimal-funcs.ts
Due: (SR) Linux amd64: test, e2e

Clean up dec fns
  schemaregistry/rules/cel/decimal-funcs.ts
Due: (SR) Linux amd64: test, e2e

Correct the TypeScript return type of `admin.fetchTopicMetadata` to `Promise<Array<ITopicMetadata>>
  CHANGELOG.md
  lib/kafkajs/_admin.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Close backtick in changelog entry.
  CHANGELOG.md
Due: none

Correct the TypeScript return type of `admin.fetchTopicMetadata` (#486)
  CHANGELOG.md
  lib/kafkajs/_admin.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Address Copilot comments
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Fix the typescript return type for admin.describeGroups() per #487.
  CHANGELOG.md
  types/rdkafka.d.ts
Due: none

Fix the typescript return type for admin.describeGroups() per #487. (#488)
  CHANGELOG.md
  types/rdkafka.d.ts
Due: none

NONJAVACLI-4353: bump axios, uuid, and pin transitive deps for CVE fixes
  package-lock.json
  package.json
  schemaregistry-examples/package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

NONJAVACLI-4353: pin ts-jest 29.4.9 and fix aes_siv TS regressions
  package-lock.json
  package.json
  schemaregistry/package.json
  schemaregistry/rules/encryption/tink/aes_siv.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix typescript annotation.
  CHANGELOG.md
  types/kafkajs.d.ts
Due: none

Revise changelog entry.
  CHANGELOG.md
Due: none

speling
  CHANGELOG.md
Due: none

[Typescript] Fix `FetchOffsetsPartition.error` type from `|| undefined` to `|| null` (#490)
  CHANGELOG.md
  types/kafkajs.d.ts
Due: none

address review — minimize overrides and bump mocha to 11
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance
