Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

First cut at AssociatedNameStrategy refactor
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Implement associated name strategy
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor cleanup
  schemaregistry/schemaregistry-client.ts
Due: (SR) Linux amd64: test, e2e

Minor refactor
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Add more assoc apis
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

handle 404
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Incorporate review feedback
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Minor opt
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Implement record strategy
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Incorporate review feedback
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

Fix record name strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Fix tests
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Add tests
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

minor fixes
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Make Associated the default strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Fix RecordType handling in subject name strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

remove dead code
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Minor renaming
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor test cleanup
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Add enableAt to RuleSet
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

DGS-23025 Add AssociatedNameStrategy (#454)
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix remainder of things to get N-API working
  binding.gyp
  examples/kafkajs/oauthbearer_calback_authentication/package.json
  examples/node-rdkafka/oauthbearer_callback_authentication/package.json
  examples/package.json
  examples/performance/package.json
  examples/typescript/package.json
  package-lock.json
  package.json
  schemaregistry/package.json
  src/admin.cc
  src/admin.h
  src/binding.cc
  src/binding.h
  src/callbacks.cc
  src/callbacks.h
  src/common.cc
  src/common.h
  src/config.cc
  src/config.h
  src/connection.cc
  src/connection.h
  src/errors.cc
  src/errors.h
  src/kafka-consumer.cc
  src/kafka-consumer.h
  src/producer.cc
  src/producer.h
  src/topic.cc
  src/topic.h
  src/workers.cc
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Get linting to pass and clean up remaining NAN references
  src/admin.cc
  src/admin.h
  src/binding.cc
  src/callbacks.cc
  src/callbacks.h
  src/common.cc
  src/common.h
  src/config.cc
  src/connection.cc
  src/connection.h
  src/errors.cc
  src/errors.h
  src/kafka-consumer.cc
  src/kafka-consumer.h
  src/producer.cc
  src/producer.h
  src/topic.cc
  src/topic.h
  src/workers.cc
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

upgrade node-addon-api and clean up package json files
  examples/kafkajs/oauthbearer_calback_authentication/package.json
  examples/node-rdkafka/oauthbearer_callback_authentication/package.json
  examples/package.json
  examples/performance/package.json
  examples/typescript/package.json
  package-lock.json
  package.json
  schemaregistry/package.json
  src/config.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

clean up leftover variables
  src/admin.cc
  src/kafka-consumer.cc
  src/topic.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add enableAt to RuleSet (#470)
  CHANGELOG.md
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

v1.9.0-rc1
  CHANGELOG.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

CHANGELOG restore entries
  CHANGELOG.md
Due: none

Package lock
  package-lock.json
Due: none

v1.9.0-rc1 (#474)
  CHANGELOG.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.9.0
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.9.0 (#475)
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Replace npm install with npm ci in Semaphore CI
  .semaphore/semaphore.yml
Due: none

Add package-lock.json for examples/performance for npm ci compatibility
  .gitignore
  examples/performance/package-lock.json
Due: none

Approach for JS client
  DESIGN_AWS_OAUTHBEARER.md
Due: none

[APPSEC-6902] Replace npm install with npm ci in Semaphore CI (#477)
  .gitignore
  .semaphore/semaphore.yml
  examples/performance/package-lock.json
Due: none

NONJAVACLI-4353: bump axios and pin transitive deps for CVE fixes
  package-lock.json
  package.json
  schemaregistry-examples/package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance
