Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Changes to run the test for a longer time
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Max match size whatever is available in the queue
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Consume rate in msg/s, average batch size, different messages depending on randomness
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Fix skipCtpTest
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Fixes
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Performance test improvements, measure eachBatch rate, time and lag, avg and max memory usage
  .gitignore
  .semaphore/semaphore.yml
  ci/tests/run_perf_test.js
  ci/tests/run_perf_test.sh
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Average and max E2E latency
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log average and max size
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Improve KafkaJS producing, more reliable createTopics, configurable message count and partition number
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
