Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

v1.8.0 rc1 (#422)
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

updaste
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/serde.spec.ts
Due: (SR) Linux amd64: test, e2e

typo
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Prevent max message cache size reaching zero by having a minimum of 1 message per worker after the round up
  CHANGELOG.md
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Failing test with a low per worker cache size
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Use `ceil` instead of `round` + `max`
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Prevent max message cache size reaching zero by having a minimum of 1 message per worker after the round up (#424)
  CHANGELOG.md
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

release v1.8.0-rc2 with librdkafka v2.13.0-RC2
  CHANGELOG.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

release v1.8.0-rc2 with librdkafka v2.13.0-RC2 (#425)
  CHANGELOG.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

release v1.8.0 with librdkafka v2.13.0
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

release v1.8.0 with librdkafka v2.13.0 (#426)
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

tmp
  .semaphore/semaphore.yml
  lib/util.js
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

tmp
  .semaphore/semaphore.yml
Due: none

add NULL checks to prevent segfaults when Kafka metadata contains NULL values during broker restarts
  src/common.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

update (#414)
  schemaregistry/rest-service.ts
Due: (SR) Linux amd64: test, e2e

First cut at AssociatedNameStrategy refactor
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Use registered trademark symbol in first mention of Kafka in README
  README.md
Due: none

Use registered trademark symbol in first mention of Kafka in README (#432)
  README.md
Due: none

Fix CompressionTypes.Snappy naming for KafkaJS compatibility
  lib/kafkajs/_common.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve JSON schema validation messages
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

DGS-23342 Minor enhancement to JSON Schema validation reporting (#434)
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

Implement associated name strategy
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor refactor
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

v1.8.1-alpha.0 fixing vulnerabilities in dependencies
  .npmignore
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix security vulnerabilities in dependencies
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Minor cleanup
  schemaregistry/schemaregistry-client.ts
Due: (SR) Linux amd64: test, e2e

Add changes for UAMI for SR
  schemaregistry-examples/src/constants.ts
  schemaregistry-examples/src/kafka-oauth.ts
  schemaregistry/README.md
  schemaregistry/index.ts
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/oauth/bearer-token-provider.ts
  schemaregistry/oauth/oauth-client-azure-imds.ts
  schemaregistry/oauth/oauth-client.ts
  schemaregistry/oauth/static-token-provider.ts
  schemaregistry/package.json
  schemaregistry/rest-service.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/encryption/awskms/aws-driver.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/rules/encryption/hcvault/hcvault-client.ts
  schemaregistry/rules/encryption/hcvault/hcvault-driver.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/oauth-client-azure-imds.spec.ts
  schemaregistry/test/oauth-client.spec.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

Add UAMI for testing
  package-lock.json
  schemaregistry-examples/package.json
  schemaregistry-examples/src/uami-oauth-schemaregistry.ts
Due: (SR) Linux amd64: test, e2e

Add examples for UAMI oauth schemaregistry for testing on Azure VM
  schemaregistry-examples/src/uami-oauth-schemaregistry.ts
Due: (SR) Linux amd64: test, e2e

Add changes for uami oauth
  schemaregistry-examples/package.json
  schemaregistry-examples/src/constants.ts
  schemaregistry-examples/src/kafka-oauth.ts
  schemaregistry-examples/src/uami-oauth-schemaregistry.ts
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/oauth/bearer-token-provider.ts
  schemaregistry/oauth/oauth-client-azure-imds.ts
  schemaregistry/oauth/oauth-client.ts
  schemaregistry/oauth/static-token-provider.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/oauth-client-azure-imds.spec.ts
  schemaregistry/test/oauth-client.spec.ts
Due: (SR) Linux amd64: test, e2e

revert rest-service changes
  schemaregistry/rest-service.ts
Due: (SR) Linux amd64: test, e2e

Fix security vulnerabilities in dependencies (#437)
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance
