Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

fix(package.json): correct broken "types" path (#484)
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Resolve IHeaders import for installed clients
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Update CHANGELOG
  CHANGELOG.md
Due: none

Minor fix
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Resolve IHeaders import for installed clients (#492)
  CHANGELOG.md
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

NONJAVACLI-4353: bump axios and pin transitive deps for CVE fixes (#478)
  package-lock.json
  package.json
  schemaregistry-examples/package.json
  schemaregistry/package.json
  schemaregistry/rules/encryption/tink/aes_siv.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Address comments
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

[fix] pass string as first arg to user logger on error events
  lib/kafkajs/_admin.js
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Address Copilot comments
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

CHANGELOG entry
  CHANGELOG.md
Due: none

[fix] pass string as first arg to user logger on error events (#483)
  CHANGELOG.md
  lib/kafkajs/_admin.js
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

v1.9.1-rc1
  CHANGELOG.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.9.1-rc1 (#493)
  CHANGELOG.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Improve KafkaJS producing, more reliable createTopics, configurable message count and partition number
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Fix skipCtpTest
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Run performance tests with SASL_PLAINTEXT or SASL_SSL and plain authentication
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Performance test improvements, measure eachBatch rate, time and lag, avg and max memory usage
  .gitignore
  .semaphore/semaphore.yml
  ci/tests/run_perf_test.js
  ci/tests/run_perf_test.sh
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Fixes
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Configurable partitions consumed concurrently
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Log number of partitions
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Consume rate in msg/s, average batch size, different messages depending on randomness
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Changes to run the test for a longer time
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Average and max E2E latency
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Fix to avoid counting the message size two times
  examples/performance/performance-primitives-common.js
Due: none

Two partitions consumed concurrently
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Fix use warmup messages with headers in case messages from other partitions are consumed first
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

fixup performance example
  examples/performance/performance-primitives-common.js
Due: none

Don't modify passed messages in sendOptions
  ci/tests/run_perf_test.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

More accurate latency and throughput measurement
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Fix CI performance run
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Remove E2E latency metrics for serial run
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

CONSUMER_MAX_BATCH_SIZE in performance test
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Fix in cases for large batch sizes
  examples/performance/performance-primitives-common.js
Due: none

fixup
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
Due: Linux amd64: Performance

Logger and statistics callback
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

USE_KEYS and timestamp in headers
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
Due: none

Add latency percentiles calculation
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance
