Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Changes to run the test for a longer time
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log number of partitions
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Performance test improvements, measure eachBatch rate, time and lag, avg and max memory usage
  .gitignore
  .semaphore/semaphore.yml
  ci/tests/run_perf_test.js
  ci/tests/run_perf_test.sh
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Configurable partitions consumed concurrently
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Average and max E2E latency
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Use same producer and different E2E latencies
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Consume rate in msg/s, average batch size, different messages depending on randomness
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

USE_KEYS and timestamp in headers
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
Due: none

Remove E2E latency metrics for serial run
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Auto commit on batch end
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Two partitions consumed concurrently
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Improve KafkaJS producing, more reliable createTopics, configurable message count and partition number
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Fix skipCtpTest
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

CONSUMER_MAX_BATCH_SIZE in performance test
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Fixes
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log average and max size
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Don't modify passed messages in sendOptions
  ci/tests/run_perf_test.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add latency percentiles calculation
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

fixup
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
Due: Linux amd64: Performance

Fix CI performance run
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Run performance tests with SASL_PLAINTEXT or SASL_SSL and plain authentication
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

More accurate latency and throughput measurement
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Changelog entry for `producer.send` fix
  CHANGELOG.md
Due: none

Updated PR in changelog entry
  CHANGELOG.md
Due: none

Add broker lag monitoring
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance
