Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Reapply "Revert union of Pools PR (#459)" (#500)
  schemaregistry-examples/src/constants.ts
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

v1.10.1-rc1 update
  examples/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Changelog change
  CHANGELOG.md
Due: none

revert unwanted change
  examples/package-lock.json
Due: none

v2.10.0 rc1 changes
  CHANGELOG.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

tar version change
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Update chagelog
  CHANGELOG.md
Due: none

version fix
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

downgrade js-yaml to 4.1.1 back
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

js-yaml to 4.2.0
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Update chagelog (#503)
  CHANGELOG.md
Due: none

Change librd version
  lib/error.js
  package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

address changes
  CHANGELOG.md
  examples/performance/package-lock.json
Due: none

v1.10.0 rc1 changes (#502)
  CHANGELOG.md
  examples/performance/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

release changes
  README.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

version change-perf
  examples/performance/package-lock.json
Due: none

v1.10.0 (#504)
  README.md
  examples/performance/package-lock.json
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Support generating a JSON Schema title
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

Update CHANGELOG
  CHANGELOG.md
Due: none

Minor cleanup
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

Support generating a JSON Schema title from a JSON payload (#505)
  CHANGELOG.md
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

Add partition to HighLevelProducer callback
  lib/producer/high-level-producer.js
  test/producer/high-level-producer.spec.js
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

DGS-24721 Add support for saving Azure key version with DEK
  schemaregistry/rules/encryption/azurekms/azure-client.ts
  schemaregistry/rules/encryption/azurekms/azure-driver.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/test/rules/encryption/azurekms/azure-client.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-driver.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/rules/encryption/azurekms/azure-driver.ts
Due: (SR) Linux amd64: test, e2e

Update changelog
  CHANGELOG.md
Due: none

DGS-24721 Add support for saving Azure key version with DEK (#507)
  CHANGELOG.md
  schemaregistry/rules/encryption/azurekms/azure-client.ts
  schemaregistry/rules/encryption/azurekms/azure-driver.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/test/rules/encryption/azurekms/azure-client.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-driver.spec.ts
Due: (SR) Linux amd64: test, e2e

DGS-24778 Pass context when clients make KEK calls to DEK Registry
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/rules/encryption/dekregistry/mock-dekregistry-client.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/test/rules/encryption/encrypt-executor.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/test/rules/encryption/encrypt-executor.spec.ts
Due: (SR) Linux amd64: test, e2e

Pass connect metadata timeout config to connect() in KafkaJS
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/common.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

DGS-24778 Pass context when clients make KEK calls to DEK Registry (#508)
  CHANGELOG.md
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/rules/encryption/dekregistry/mock-dekregistry-client.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/test/rules/encryption/encrypt-executor.spec.ts
Due: (SR) Linux amd64: test, e2e

Prebuild binaries for Node 25 and 26
  .semaphore/semaphore.yml
Due: none

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
