Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

1.10.1-rc1 (#533)
  CHANGELOG.md
  examples/performance/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  proto/confluent/meta.proto
  proto/test/schemaregistry/serde/validation_widget.proto
  schemaregistry/confluent/meta_pb.ts
  schemaregistry/index.ts
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/encryption/azurekms/azure-client.ts
  schemaregistry/rules/encryption/azurekms/azure-driver.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/rules/encryption/dekregistry/mock-dekregistry-client.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/rules/cel/cel-executor.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-client.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-driver.spec.ts
  schemaregistry/test/rules/encryption/encrypt-executor.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/test/validation_widget_pb.ts
  schemaregistry/test/serde/validate-message.spec.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix decimal funcs
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/test/rules/cel/cel-avro-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-proto-key-and-uint.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
  schemaregistry/test/serde/cel-avro-union-and-map-keys.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/cel-avro-referenced-field.spec.ts
Due: (SR) Linux amd64: test, e2e

Move proto types
  proto/confluent/type/decimal.proto
  proto/confluent/type/variant.proto
  proto/test/schemaregistry/serde/value_type_rules.proto
  proto/test/schemaregistry/serde/value_types.proto
  schemaregistry/confluent/type/decimal-utils.ts
  schemaregistry/confluent/type/decimal_pb.ts
  schemaregistry/confluent/type/variant-utils.ts
  schemaregistry/confluent/type/variant_pb.ts
  schemaregistry/index.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/rules/cel/variant-path.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/confluent/type/decimal-utils.spec.ts
  schemaregistry/test/confluent/type/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-avro-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-message-transform.spec.ts
  schemaregistry/test/rules/cel/cel-proto-key-and-uint.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/cel-avro-union-and-map-keys.spec.ts
  schemaregistry/test/serde/cel-avro-variant-field.spec.ts
  schemaregistry/test/serde/cel-container-message-transform.spec.ts
  schemaregistry/test/serde/cel-field-value-types.spec.ts
  schemaregistry/test/serde/cel-inline-avro-value-types.spec.ts
  schemaregistry/test/serde/protobuf-builtin-deps.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/test/value_type_rules_pb.ts
  schemaregistry/test/serde/test/value_types_pb.ts
Due: (SR) Linux amd64: test, e2e

Add confluent/types alias
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/rules/cel/timestamp-epoch.spec.ts
  schemaregistry/test/serde/protobuf-builtin-deps.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/test/confluent/type/decimal-utils.spec.ts
  schemaregistry/test/serde/cel-avro-referenced-field.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/test/serde/cel-avro-union-and-map-keys.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/confluent/type/variant-utils.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/confluent/type/variant-utils.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix variant.of ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix decimal funcs
  schemaregistry/confluent/type/decimal-utils.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

1.10.1
  CHANGELOG.md
  README.md
  examples/performance/package-lock.json
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

1.10.1 (#534)
  CHANGELOG.md
  README.md
  examples/performance/package-lock.json
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Post-install: remove Debian 11, add Debian 13 and Ubuntu 26.04
  .semaphore/post_install.yml
Due: none

Post-install: remove Debian 11, add Debian 13 and Ubuntu 26.04 (#535)
  .semaphore/post_install.yml
Due: none

Fix decimal funcs
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Merge the release in master
  .semaphore/post_install.yml
  CHANGELOG.md
  README.md
  examples/performance/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Minor fixes
  package-lock.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/test/rules/cel/cel-proto-enum.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/cel-avro-name-resolution.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/test/serde/cel-container-message-transform.spec.ts
Due: (SR) Linux amd64: test, e2e

Merge the release in master (#536)
  CHANGELOG.md
  package-lock.json
  package.json
  proto/confluent/meta.proto
  proto/test/schemaregistry/serde/validation_widget.proto
  schemaregistry/confluent/meta_pb.ts
  schemaregistry/index.ts
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/encryption/azurekms/azure-client.ts
  schemaregistry/rules/encryption/azurekms/azure-driver.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/rules/encryption/dekregistry/mock-dekregistry-client.ts
  schemaregistry/rules/encryption/encrypt-executor.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/rules/cel/cel-executor.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-client.spec.ts
  schemaregistry/test/rules/encryption/azurekms/azure-driver.spec.ts
  schemaregistry/test/rules/encryption/encrypt-executor.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/test/validation_widget_pb.ts
  schemaregistry/test/serde/validate-message.spec.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Pass errors to loggers
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/logger.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add import public to new confluent/type/Decimal
  proto/confluent/types/decimal.proto
  schemaregistry/confluent/codegen.sh
  schemaregistry/confluent/types/decimal_pb.ts
  schemaregistry/index.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/confluent/types/legacy-decimal-path.spec.ts
  schemaregistry/test/serde/protobuf-builtin-deps.spec.ts
Due: (SR) Linux amd64: test, e2e

Add import public to new confluent/type/Decimal
  schemaregistry/confluent/codegen.sh
  schemaregistry/confluent/types/decimal_pb.ts
  schemaregistry/test/confluent/types/legacy-decimal-path.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/protobuf-result-writer.ts
  schemaregistry/test/rules/cel/cel-proto-result-keys.spec.ts
Due: (SR) Linux amd64: test, e2e

Pass schema via field context if necessary
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/cel-null-avro-field.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/test/serde/cel-field-message-binding.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fixes
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/cel-nested-record-binding.spec.ts
Due: (SR) Linux amd64: test, e2e

fix(kafkajs): map maxBytes to fetch.max.bytes instead of a per-partition alias
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix value
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update CHANGELOG
  CHANGELOG.md
Due: none

Add Logical Type syntax checker for JavaScript
  tools/logical-types-checker/.gitignore
  tools/logical-types-checker/README.md
  tools/logical-types-checker/demo/index.html
  tools/logical-types-checker/demo/main.ts
  tools/logical-types-checker/grammar/LogicalTypes.g4
  tools/logical-types-checker/package-lock.json
  tools/logical-types-checker/package.json
  tools/logical-types-checker/scripts/generate-parser.sh
  tools/logical-types-checker/src/checkSyntax.ts
  tools/logical-types-checker/src/generated/LogicalTypes.interp
  tools/logical-types-checker/src/generated/LogicalTypes.tokens
  tools/logical-types-checker/src/generated/LogicalTypesLexer.interp
  tools/logical-types-checker/src/generated/LogicalTypesLexer.tokens
  tools/logical-types-checker/src/generated/LogicalTypesLexer.ts
  tools/logical-types-checker/src/generated/LogicalTypesParser.ts
  tools/logical-types-checker/src/generated/LogicalTypesVisitor.ts
  tools/logical-types-checker/src/index.ts
  tools/logical-types-checker/tsconfig.json
Due: none

Add initial render
  tools/logical-types-checker/demo/main.ts
Due: none

[DOCS-39462] Make the Schema Registry endpoint consistent with the brokers
  README.md
Due: none

[DOCS-39462]-Use Schema Registry in the README Getting Started example (#521)
  README.md
Due: none

chore: fix npm audit vulnerabilities in dev dependencies
  package-lock.json
Due: none

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
