Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

DGS-22343 Fix transformation of union of JSON refs
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor cleanup
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

OAuth Azure IMDS Kafka example
  CHANGELOG.md
  examples/kafkajs/oauthbearer_oidc_azure_imds.js
  lib/error.js
  package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

DGS-22404 Add AppRole auth for HC Vault
  schemaregistry/rules/encryption/hcvault/hcvault-client.ts
  schemaregistry/rules/encryption/hcvault/hcvault-driver.ts
Due: (SR) Linux amd64: test, e2e

Minor cleanup
  schemaregistry/rules/encryption/hcvault/hcvault-client.ts
Due: (SR) Linux amd64: test, e2e

Bump version to v1.6.0-rc2
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

pass npm authentication
  .semaphore/build-docker-alpine.sh
  .semaphore/build-docker-debian.sh
  .semaphore/semaphore.yml
Due: none

Always pass the .npmrc to docker run
  .semaphore/docker_run_with_volumes.sh
  .semaphore/post_install.yml
  .semaphore/semaphore.yml
Due: none

Removed npm update on test
  Makefile
Due: none

Update version to 1.6.0-rc3
  .semaphore/semaphore.yml
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

remove cache restore
  .semaphore/semaphore.yml
Due: none

Update version to 1.6.0-rc4
  .semaphore/semaphore.yml
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

rc4->rc4-dev
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Update rc4-dev to rc4
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

add remaining files
  lib/util.js
  package-lock.json
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Performance test improvements, measure eachBatch rate, time and lag, avg and max memory usage
  .gitignore
  .semaphore/semaphore.yml
  ci/tests/run_perf_test.js
  ci/tests/run_perf_test.sh
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Version bump to 1.6.0
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Change 1.6.0->1.6.0-dev
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

1.6.0-dev->1.6.0
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Run performance tests with SASL_PLAINTEXT or SASL_SSL and plain authentication
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Fixes
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

KIP-848 migration guide
  CHANGELOG.md
  md-docs/kip-848-migration-guide.md
Due: none

Improve KafkaJS producing, more reliable createTopics, configurable message count and partition number
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log number of partitions
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Fix skipCtpTest
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Configurable partitions consumed concurrently
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Consume rate in msg/s, average batch size, different messages depending on randomness
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

fixup
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Average and max E2E latency
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Log average and max size
  ci/tests/run_perf_test.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

Max match size whatever is available in the queue
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Changes to run the test for a longer time
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance
