Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Remove E2E latency metrics for serial run
  ci/tests/run_perf_test.js
Due: Linux amd64: Performance

Don't modify passed messages in sendOptions
  ci/tests/run_perf_test.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

More accurate latency and throughput measurement
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Fix in cases for large batch sizes
  examples/performance/performance-primitives-common.js
Due: none

Fix use warmup messages with headers in case messages from other partitions are consumed first
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

DGS-22077 Handle evolution during field transformation
  package-lock.json
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Add new header
  schemaregistry/rest-service.ts
Due: (SR) Linux amd64: test, e2e

Stats callback
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fixup performance example
  examples/performance/performance-primitives-common.js
Due: none

Logger and statistics callback
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Statistics callback is available when using the promisified API with all client types
  CHANGELOG.md
  src/admin.cc
  src/connection.cc
  src/connection.h
  src/producer.cc
  src/producer.h
  test/promisified/admin/statsCallback.spec.js
  test/promisified/consumer/statsCallback.spec.js
  test/promisified/producer/statsCallback.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Statistics callback is available when using the promisified API with all client types
  CHANGELOG.md
  lib/kafkajs/_admin.js
  src/admin.cc
  src/connection.cc
  src/connection.h
  src/producer.cc
  src/producer.h
  test/promisified/admin/statsCallback.spec.js
  test/promisified/consumer/statsCallback.spec.js
  test/promisified/producer/statsCallback.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

v1.7.0-alpha.0
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.7.0-alpha.0
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.7.0-alpha.0
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Updated lockfile with Node 24
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

1.7.0-alpha.1-dev test
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Revert "1.7.0-alpha.1-dev test"
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

DGS-22899 Fix support for wrapped Avro unions
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Don't return negative offset lags except for -1 when -1001 is the high watermark.
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

1.7.0
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Changelog entry
  CHANGELOG.md
Due: none

Test package generation
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

1.7.0-rc1
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Revert "Test package generation"
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Minor update to README to remove Early Access description
  schemaregistry/README.md
Due: (SR) Linux amd64: test, e2e

Export CelExecutor/CelFieldExecutor in index.ts
  schemaregistry/index.ts
Due: (SR) Linux amd64: test, e2e

minor cleanup
  schemaregistry/index.ts
Due: (SR) Linux amd64: test, e2e

update
  schemaregistry/rest-service.ts
Due: (SR) Linux amd64: test, e2e

[Typescript] fix prevent message cache size from becoming zero
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Minor improvement ot rule failure message
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Address feedback
  CHANGELOG.md
Due: none

Address feedback
  README.md
Due: none

Address feedback
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance
