Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

[Typescript] Improve types for isKafkaJSError
  types/kafkajs.d.ts
Due: none

Update node-tar package minor version to .19
  package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Integrate Schema Registry serdes into KafkaJS producer and consumer
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry-examples/src/kafka-consumer-json.ts
  schemaregistry-examples/src/kafka-producer-json.ts
  schemaregistry/serde/json.ts
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Add clusterId to fetch the id of the cluster a client is connected to
  CHANGELOG.md
  e2e/admin.spec.js
  e2e/producer.spec.js
  lib/client.js
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  src/admin.cc
  src/connection.cc
  src/connection.h
  src/kafka-consumer.cc
  src/producer.cc
  src/workers.cc
  src/workers.h
  test/binding.spec.js
  test/consumer.spec.js
  test/producer.spec.js
  test/promisified/admin/cluster_id.spec.js
  test/promisified/consumer/cluster_id.spec.js
  test/promisified/producer/cluster_id.spec.js
  types/kafkajs.d.ts
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Plumb the Kafka cluster id into Schema Registry serdes
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Pass the cluster id timeout as an option and stop rewrapping the error
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fix: track last consumed offset in eachBatch resolveOffset so pause() does not lose prefetched messages
  lib/kafkajs/_consumer.js
  test/promisified/consumer/pause.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Preserve HTTP status on Schema Registry error responses
  schemaregistry/rest-service.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Update changelog
  CHANGELOG.md
Due: none

Let the associated subject name strategy receive the cluster id
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Preserve HTTP status on Schema Registry error responses (#519)
  CHANGELOG.md
  schemaregistry/rest-service.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Build and publish s390x release artifacts
  .semaphore/semaphore.yml
Due: none

Add s390x release build scripts
  .semaphore/build-docker-s390x.sh
  .semaphore/build-s390x.sh
Due: none

[DOCS-39462]-Use Schema Registry in the Getting Started example
  README.md
Due: none

Do not forward the agent's npm credentials to the s390x host
  .semaphore/build-s390x.sh
  .semaphore/semaphore.yml
Due: none

Resolve all lockfile dependencies from the public registry
  package-lock.json
Due: none

Build s390x release artifacts on the native s390x agent
  .semaphore/build-docker-s390x.sh
  .semaphore/build-s390x.sh
  .semaphore/semaphore.yml
Due: none

Retry artifact upload on transient resolver failures
  .semaphore/semaphore.yml
Due: none

DGS-24222 Add support for inline validation rules
  package-lock.json
  proto/confluent/meta.proto
  proto/test/schemaregistry/serde/validation_widget.proto
  schemaregistry/confluent/meta_pb.ts
  schemaregistry/index.ts
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/test/validation_widget_pb.ts
  schemaregistry/test/serde/validate-message.spec.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/avro.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/validate-message.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/validate-message.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/avro.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf.spec.ts
  schemaregistry/test/serde/validate-message.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/test/rules/cel/cel-executor.spec.ts
Due: (SR) Linux amd64: test, e2e

Make transform/validate walks consistent
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Walk proto by field num
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Use names from registered Protobuf schema for validation
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix matching
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix unsigned value conversions
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Handle unsigned Protobuf in CEL
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/protobuf-walk-parity.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix cache key
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix double eval
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/validation-serdes.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix enum handling
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor fix
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

fix boxing
  e2e/producer.spec.js
  src/callbacks.cc
  src/producer.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update CHANGELOG
  CHANGELOG.md
Due: none

First cut at cel functions
  package-lock.json
  schemaregistry/package.json
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-field-executor.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Add decimal_util
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
