Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

Add custom string ext functions
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/is-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Add s390x musl release variant
  .semaphore/build-docker-alpine.sh
  .semaphore/semaphore.yml
Due: none

Skip devDeps on s390x musl build (@bufbuild/buf has no s390x binary)
  .semaphore/build-docker-alpine.sh
Due: none

TEMP: bump version to 1.10.1-dev for dev-tag validation
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Add cel variant fns
  proto/confluent/types/variant.proto
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/confluent/types/variant_pb.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/rules/cel/variant-path.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Add avro/proto variant
  schemaregistry/index.ts
  schemaregistry/rules/cel/cel-validator.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/serde/avro.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Upgrade avsc to 5.7.9
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

add variant builder
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix variant issues
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix variant issues
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/variant-funcs.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix variant issues
  schemaregistry/confluent/types/decimal-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/test/confluent/types/decimal-utils.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/rules/cel/zz-probe.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix ts issues
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/rules/cel/zz-probe.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix cel err handling
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/test/rules/cel/cel-executor.spec.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Simplify ts ctor
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Add tests
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix three N-API migration bugs: worker error handlers, DR buffer leaks, missing return
  src/callbacks.cc
  src/producer.cc
  src/workers.cc
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Preserve SetError message in default HandleErrorCallback
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Minor fixes
  schemaregistry/confluent/types/variant-utils.ts
  schemaregistry/rules/cel/decimal-funcs.ts
  schemaregistry/rules/cel/timestamp-funcs.ts
  schemaregistry/test/confluent/types/variant-utils.spec.ts
  schemaregistry/test/rules/cel/cel-validator.spec.ts
Due: (SR) Linux amd64: test, e2e

release temporary async callback references
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

deliver consume loop errors on the main thread
  src/kafka-consumer.cc
  src/workers.cc
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fix native cleanup and exception control flow
  src/binding.cc
  src/kafka-consumer.cc
  src/topic.h
  test/binding.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

preserve array string coercion
  src/common.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

harden producer validation and ownership
  e2e/producer.spec.js
  src/producer.cc
  test/binding.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

add override annotations to native methods
  src/admin.h
  src/kafka-consumer.h
  src/producer.h
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update transitive dependencies in package-lock.json
  CHANGELOG.md
  package-lock.json
Due: none

Add s390x post-install verification blocks
  .semaphore/post_install.yml
Due: none

TEMP: bump version to 1.10.1-alpha.0 for alpha publish + post-install validation
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix duplicate message delivery when the message cache expires
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Changelog entry for the fix
  CHANGELOG.md
Due: none

Deflake max.poll.interval.ms batch processing test
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Remove stale FIXME
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Assert at-least-once instead of an exact replay count
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Fix crash on admin worker early-return paths
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Changelog entry for the admin worker crash fix
  CHANGELOG.md
Due: none

Wait for commits before fetching offsets in fetch_offsets test
  test/promisified/admin/fetch_offsets.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Changelog item more detailed description
  CHANGELOG.md
Due: none

Drop redundant Number() around message offsets
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update transitive dependencies in package-lock.json (#525)
  CHANGELOG.md
  lib/kafkajs/_consumer.js
  package-lock.json
  src/workers.h
  test/promisified/admin/fetch_offsets.spec.js
  test/promisified/consumer/consumeMessages.spec.js
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance
