Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

1.6.1-alpha.0
  ci/update-version.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Changed property name to `js.consumer.max.batch.size`
  CHANGELOG.md
  MIGRATION.md
  examples/performance/performance-primitives.js
  lib/kafkajs/_consumer.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Add `js.consumer.max.cached.batches.per.worker` property to control max cached size.
  MIGRATION.md
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Use only 1.5 seconds cache size estimation aligned at batch size * concurrency
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix for at-least-once guarantee not ensured in case a seek happens on one partition and there are messages being fetched for other partitions
  lib/kafkajs/_consumer.js
  lib/kafkajs/_consumer_cache.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Make `is cleared before rebalance` less flaky in case of increased time before first assignment
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Make `is cleared before rebalance` less flaky in case of increased time before first assignment
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

More accurate latency and throughput measurement
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Add latency percentiles calculation
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
Due: Linux amd64: Performance

Add latency percentiles calculation
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance

USE_KEYS and timestamp in headers
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Don't modify passed messages in sendOptions
  ci/tests/run_perf_test.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

DGS-22734 Add Accept-Version header
  schemaregistry/rest-service.ts
  schemaregistry/rules/encryption/dekregistry/dekregistry-client.ts
Due: (SR) Linux amd64: test, e2e

Add aws fix
  schemaregistry/rules/encryption/awskms/aws-driver.ts
Due: (SR) Linux amd64: test, e2e

Rename IS_HIGHER_LATENCY_BROKER to IS_HIGHER_LATENCY_CLUSTER
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
Due: none

Reduce flakyness of 'times out if messages are pending'
  test/promisified/producer/flush.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Configurable cache size in milliseconds
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add worker identifier to the payload for better debugging
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Keep 1.5s of data in cache
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix for test flakyness
  test/promisified/admin/fetch_offsets.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

1.6.1-alpha.1
  ci/update-version.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Changed property name to `js.consumer.max.batch.size`
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Remove minimum 1024 cache size for faster rebalances in case of long processing time
  lib/kafkajs/_consumer.js
  test/promisified/consumer/consumeMessages.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Configurable batch size
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_consumer.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fixup CHANGELOG and spaces
  CHANGELOG.md
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

1.6.1
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

FIXME about KIP-848 autocommit issue
  test/promisified/consumer/consumerCacheTests.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Add broker lag monitoring
  ci/tests/run_perf_test.js
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-common.js
  examples/performance/performance-primitives.js
Due: Linux amd64: Performance
