Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

v1.8.1
  .npmignore
  README.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

v1.8.1-dev
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

fix(schemaregistry): add support for format to validation
  package-lock.json
  schemaregistry/package.json
  schemaregistry/serde/json.ts
  schemaregistry/test/serde/json.spec.ts
Due: (SR) Linux amd64: test, e2e

DOCS-35477 add jwt option for oauth
  INTRODUCTION.md
Due: none

Process Avro arrays sequentially to avoid race conditions
  schemaregistry/serde/avro.ts
Due: (SR) Linux amd64: test, e2e

Add null types to TS
  lib/kafkajs/_admin.js
  types/kafkajs.d.ts
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Process Avro arrays sequentially to avoid race conditions (#445)
  schemaregistry/serde/avro.ts
Due: (SR) Linux amd64: test, e2e

MINOR upgrade axios to 1.13.5
  package-lock.json
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

Upgrade axios in examples
  schemaregistry-examples/package.json
Due: (SR) Linux amd64: test, e2e

MINOR upgrade axios to 1.13.5 (#447)
  package-lock.json
  schemaregistry-examples/package.json
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

DOCS-35477 add jwt option for oauth (#446)
  INTRODUCTION.md
Due: none

Remove bluebird in favor of native Promise
  package-lock.json
  package.json
  test/producer/high-level-producer.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

DGS-23476: Allow id-pool header to be optional for union-of-pools
  schemaregistry-examples/src/constants.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

DGS-23476: Allow id-pool header to be optional for union-of-pools (#452)
  schemaregistry-examples/src/constants.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

feat: expose cluster ID via getClusterId() and describeCluster()
  lib/client.js
  lib/kafkajs/_admin.js
  src/admin.cc
  src/connection.cc
  src/connection.h
  src/kafka-consumer.cc
  src/producer.cc
  test/promisified/admin/describe_cluster.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Implement associated name strategy
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

First cut at AssociatedNameStrategy refactor
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Minor cleanup
  schemaregistry/schemaregistry-client.ts
Due: (SR) Linux amd64: test, e2e

Add more assoc apis
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/schemaregistry-client.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor refactor
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Minor opt
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

handle 404
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Implement record strategy
  schemaregistry/mock-schemaregistry-client.ts
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Incorporate review feedback
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Incorporate review feedback
  schemaregistry/serde/json.ts
Due: (SR) Linux amd64: test, e2e

Fix record name strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Fix tests
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Implement feedback
  types/rdkafka.d.ts
Due: none

Add tests
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix RecordType handling in subject name strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Add CHANGELOG entry for v1.8.1 segfault fix
  CHANGELOG.md
Due: none

performance benchmarking tool
  examples/performance/performance-consolidated.js
  examples/performance/performance-primitives-kafkajs.js
  examples/performance/performance-primitives.js
  tools/benchmark/README.md
  tools/benchmark/combine-results.js
  tools/benchmark/docker-compose.yml
  tools/benchmark/index.js
  tools/benchmark/lib/clients/base.js
  tools/benchmark/lib/clients/confluent-client.js
  tools/benchmark/lib/clients/index.js
  tools/benchmark/lib/clients/rdkafka-client.js
  tools/benchmark/lib/config/defaults.js
  tools/benchmark/lib/config/preset-loader.js
  tools/benchmark/lib/output/combined-html-reporter.js
  tools/benchmark/lib/output/console-reporter.js
  tools/benchmark/lib/output/csv-writer.js
  tools/benchmark/lib/output/html-reporter.js
  tools/benchmark/lib/output/json-writer.js
  tools/benchmark/lib/output/live-table.js
  tools/benchmark/lib/output/summary.js
  tools/benchmark/lib/runner.js
  tools/benchmark/lib/statistics.js
  tools/benchmark/lib/utils/docker-broker.js
  tools/benchmark/lib/utils/resource-monitor.js
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
  tools/benchmark/presets/balanced.yaml
  tools/benchmark/presets/custom.yaml.example
  tools/benchmark/presets/eos.yaml
  tools/benchmark/presets/high_throughput.yaml
  tools/benchmark/presets/low_latency.yaml
  tools/benchmark/presets/sustained_throughput.yaml
  tools/benchmark/run-all-presets.js
Due: none

preset redifinition
  tools/benchmark/lib/config/defaults.js
  tools/benchmark/lib/config/preset-loader.js
Due: none

minor fixes
  schemaregistry/serde/protobuf.ts
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Address feedbacks
  lib/kafkajs/_admin.js
  src/common.cc
  types/kafkajs.d.ts
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix lint
  src/common.cc
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add NULL checks to prevent segfaults when Kafka metadata contains NULL (#428)
  CHANGELOG.md
  lib/kafkajs/_admin.js
  src/common.cc
  types/kafkajs.d.ts
  types/rdkafka.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Release candidate v1.8.1
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
