Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

RC release v1.8.1
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Update CHANGELOG for 1.8.2
  CHANGELOG.md
Due: none

Minor fix
  CHANGELOG.md
Due: none

Update CHANGELOG for 1.8.1 (#457)
  CHANGELOG.md
Due: none

Add update-changelog.py script
  scripts/update-changelog.py
Due: none

Minor fix
  scripts/update-changelog.py
Due: none

Revert union of Pools PR
  schemaregistry-examples/src/constants.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Revert union of Pools PR (#459)
  schemaregistry-examples/src/constants.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/rest-service.spec.ts
Due: (SR) Linux amd64: test, e2e

Add update-changelog.py script (#458)
  scripts/update-changelog.py
Due: none

RC release v1.8.1-RC1
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

name convention
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

RC release v1.8.1-RC1 (#460)
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

chore: update eslint-plugin-tsdoc to version 0.5.2 and fix vulnerabilities in package-lock.
  package-lock.json
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

chore: update eslint-plugin-tsdoc to version 0.5.2 (#461)
  package-lock.json
  schemaregistry/package.json
Due: (SR) Linux amd64: test, e2e

Make Associated the default strategy
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

remove dead code
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

Minor renaming
  schemaregistry/serde/serde.ts
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Handle relative names in Protobuf registry
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Version changes v1.8.1
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

update readme
  README.md
Due: none

remove dot
  README.md
Due: none

Version changes v1.8.1 (#463)
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Version changes
  CHANGELOG.md
  README.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Contributing md change
  CONTRIBUTING.md
Due: none

changelog addition
  CHANGELOG.md
Due: none

Version changes 1.8.2 (#464)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Incorporate copilot feedback
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Incorporate copilot feedback
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Edit changelog for 1.8.2
  CHANGELOG.md
Due: none

space
  CHANGELOG.md
Due: none

Edit changelog for 1.8.2 (#465)
  CHANGELOG.md
Due: none

Uami oauth2 (#439)
  schemaregistry-examples/package.json
  schemaregistry-examples/src/constants.ts
  schemaregistry-examples/src/kafka-oauth.ts
  schemaregistry-examples/src/uami-oauth-schemaregistry.ts
  schemaregistry/oauth/abstract-oauth-client.ts
  schemaregistry/oauth/bearer-token-provider.ts
  schemaregistry/oauth/oauth-client-azure-imds.ts
  schemaregistry/oauth/oauth-client.ts
  schemaregistry/oauth/static-token-provider.ts
  schemaregistry/rest-service.ts
  schemaregistry/test/oauth-client-azure-imds.spec.ts
  schemaregistry/test/oauth-client.spec.ts
Due: (SR) Linux amd64: test, e2e

Minor test cleanup
  schemaregistry/test/serde/avro.spec.ts
  schemaregistry/test/serde/json.spec.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e

Handle relative names in Protobuf registry (#462)
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/protobuf.spec.ts
Due: (SR) Linux amd64: test, e2e
