Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Add unit tests for connect-retry helpers
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Use a JSDoc-parseable type for the tracked client listeners
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Make connect() retry by default, excluding only terminal errors
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Correct retry.factor/multiplier compatibility message
  lib/kafkajs/_common.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix connect metadata timeout for raw configs; harden abort re-check
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Extract per-attempt connect logic into #connectInternalClientOnce
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Harden connect-retry teardown and abort handling
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Abort connect() retry loop on disconnect()
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Await failed-client teardown and honor fatal error flag
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Dedupe concurrent connect() calls onto one attempt
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Document connect() retry behavior
  CHANGELOG.md
  MIGRATION.md
Due: none

Settle connect attempts from the connect callback
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() on transient connection errors
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() on transient SSL handshake failures
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Bound connect attempts and delegate backoff to librdkafka
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() for transactional and idempotent producers
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Document concurrent connect() dedup in changelog
  CHANGELOG.md
Due: none

Preserve base client listeners on teardown; add connect lifecycle tests
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
  test/promisified/unit/connectRetryLifecycle.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Wait with a growing backoff between connect attempts
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
  test/promisified/unit/connectRetryLifecycle.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Accept a string socket.connection.setup.timeout.ms for the connect timeout
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() only for known transient connection errors
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

DOCS-43304 admin API for Odyssey explicit topic association (#548)
  types/rdkafka.d.ts
Due: none

Update the concurrent connect() serializer test for the shared connect promise
  test/promisified/producer/serializers.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Retry connect() on transient errors (KafkaJS compatibility) (#542)
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/connectRetry.spec.js
  test/promisified/unit/connectRetryLifecycle.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

2.16.0
  CHANGELOG.md
  README.md
  examples/performance/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Remove extra space
  README.md
Due: none

1.11.0-rc1
  CHANGELOG.md
  README.md
  examples/performance/package-lock.json
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
