Repository confluentinc/confluent-kafka-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Fix npm audit vulnerabilities in dev dependencies
  package-lock.json
Due: none

Fix npm audit vulnerabilities in dev dependencies
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Extract per-attempt connect logic into #connectInternalClientOnce
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Keep npmjs.org resolved URLs in lockfile
  package-lock.json
Due: none

Retry connect() on transient connection errors
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Mirror master's post-install image list on s390x
  .semaphore/post_install.yml
Due: none

Abort connect() retry loop on disconnect()
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Trigger CI with a real diff
  test/promisified/consumer/commit.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Add unit tests for connect-retry helpers
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test

Document connect() retry behavior
  CHANGELOG.md
  MIGRATION.md
Due: none

Fix: segfault in consumer loop due to use after free in workers thread- #34
  src/workers.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Bound connect attempts and delegate backoff to librdkafka
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Correct retry.factor/multiplier compatibility message
  lib/kafkajs/_common.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() on transient SSL handshake failures
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Make connect() retry by default, excluding only terminal errors
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_common.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Retry connect() for transactional and idempotent producers
  CHANGELOG.md
  MIGRATION.md
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Dedupe concurrent connect() calls onto one attempt
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Document concurrent connect() dedup in changelog
  CHANGELOG.md
Due: none

Harden connect-retry teardown and abort handling
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Await failed-client teardown and honor fatal error flag
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix connect metadata timeout for raw configs; harden abort re-check
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Hand every serde builder the full client configuration
  CHANGELOG.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/avro.ts
  schemaregistry/serde/json.ts
  schemaregistry/serde/protobuf.ts
  schemaregistry/test/serde/kafka-builders.spec.ts
  test/promisified/consumer/deserializers.spec.js
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/serde_builders.spec.js
  test/promisified/unit/serde_ownership.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Preserve base client listeners on teardown; add connect lifecycle tests
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  test/promisified/unit/connectRetry.spec.js
  test/promisified/unit/connectRetryLifecycle.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Use a JSDoc-parseable type for the tracked client listeners
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix npm audit vulnerabilities in dev dependencies (#540)
  package-lock.json
  package.json
  schemaregistry/package.json
  test/promisified/consumer/commit.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Share a single cluster id call among concurrent resolver invocations
  CHANGELOG.md
  lib/kafkajs/_common.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  schemaregistry/serde/serde.ts
  test/promisified/consumer/deserializers.spec.js
  test/promisified/producer/serializers.spec.js
  test/promisified/unit/cluster_id_resolver.spec.js
  types/kafkajs.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
